PORT=4000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kol_mission_hub?schema=public"
JWT_ACCESS_SECRET=super_access_secret
JWT_REFRESH_SECRET=super_refresh_secret
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=7d
REFRESH_COOKIE_NAME=kol_refresh_token
UPLOAD_DIR=uploads
APP_BASE_URL=http://localhost:4000
FRONTEND_MERCHANT_ORIGIN=http://localhost:5173
FRONTEND_USER_ORIGIN=http://localhost:5174
FRONTEND_ADMIN_ORIGIN=http://localhost:5175
MOCK_REVENUE_MONSTER=true
REVENUE_MONSTER_WEBHOOK_SECRET=mock_webhook_secret
TIMEZONE=Asia/Kuala_Lumpur